body{
    position:relative;
    min-height:100%;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    color: white;
    background-color: #282A35;
}
nav{
    position:relative;
    z-index:2;
    font-size:17px;
    background-color: #1d2a35;
    color:#f1f1f1;
    width:100%;
    padding:0;
    letter-spacing:1px;
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
}
nav img{
    height: 58px;
    width: 108px;
    padding: 10px;
    margin-left: -16px;
    cursor: pointer;
}
.menu {
    padding: 29px 15px;
}
.right
{
    margin-left: 25vw;
    font-size: 20px;
}
.icon
{
    padding: 29px 15px;
    cursor: pointer;
}
.invisible
{
    display: inline;
    padding: 12px 18px;
    border-radius: 23px;
    background: inherit;
    border: none;
    font-size:17px;
    color:#f1f1f1;
    cursor: pointer;
}
span button:hover 
{
   
    background: #04AA6D;
   
}
.visible
{
    display: inline;
    padding: 12px 10px;
    border-radius: 23px;
    color: black;
    border: none;
    font-size: 17px;
    width: 87px;
    background: #FFC0C7;
    cursor: pointer;
}
i .visible{
    display: inline;
    padding: 12px 17px;
    border-radius: 23px;
    color:#f1f1f1;
    border: none;
    width: 81px;
    font-size:17px;
    background: #04AA6D;
}
.search
{
    text-align: center;
    font-size: 70px;
    padding-top: 90px;
    font-weight: 700;
    background: rgb(13,23,33);
    height: 380px;
}
.pink{
    color: #FFC0C7;
    font-weight: 700;
    margin-top: 30px!important;
    font-size: 23px;
}
.search-input{
    padding: 10px;
    font-size: 17px;
    border: 1px solid #282A35;
    border-radius: 25px;
    float: left;
    width: 80%;
    padding-left: 25px;
    background: white;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 1px solid #04AA6D;
    outline: 0;
    width: 363px;
    padding-left: 25px;
    margin-left: 33vw;
    margin-top: 26px;
}
.search button
{
    border-radius: 25px;
    float: left;
    width: 7%;
    padding: 10px;
    background: #04AA6D;
    color: white;
    font-size: 17px;
    border: 1px solid #282A35;
    border-left: none;
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-top: 26px;
    cursor: pointer;
}
.begin span:hover
{
    color: #04AA6D;
}
.html{
    background: #D9EEE1;
    height: 587px;
    margin-top: -14px;
    display: flex;
}
.desc
{
    padding-top: 13vh;
    padding-left: 41vh;
}
.desc button{
    position: relative;
    margin-top: 24px;
    width: 187px;
    margin-left: 21px;;
    height: 37px;
    border-radius: 22px;
    border: none;
    font-weight: 700;
    cursor: pointer;
}
.example img{
    padding-left: 249px;
    padding-top: 79px;
    width: 611px;
}
.css
{
    background: #FFF4A3;
    height: 587px;
    margin-top: -14px;
    display: flex;
}
.js
{
    height: 587px;
    margin-top: -14px;
    display: flex;
}
.python
{
    background: #F3ECEA;
    height: 587px;
    margin-top: -14px;
    display: flex;
}
.sql{
    background: #96D4D4;
    height: 587px;
    margin-top: -14px;
    display: flex;
}
.php{
    height: 272px;
    width: 670px;
    background: #FFC0C7;
    margin: 87px;
    border-radius: 11px;
    margin-right: 51px;
    margin-left: 55px;
}
.items{
    margin: auto;
    height: auto;
    width: auto;
    color: black;
    padding: 57px 189px;
}
.title{
    font-size: 45px;
    font-weight: 700;
}
.items .desc{
    color:#3a3a3a;
    font-weight: 600;
    padding-left: 9px;
    padding-top: 16px;
    position: absolute;
}
.items button{
    margin-top: 40px;
    position: relative;
    width: 187px;
    margin-left: 45px;
    height: 37px;
    border-radius: 22px;
    border: none;
    font-weight: 700;
    background: #282A35;
    color: white;
    cursor: pointer;
}
.grid
{
    display: flex;
    margin-bottom: -96px;
}
.special{
    display: flex;
}
.c{
    background: #FFC0C7;
    height: 146px;
    margin-top: 143px;
    margin-left: 4vw;
    width: 42vw;
    border-radius: 10px;
    color: black;
    text-align: center;
    margin-bottom: 11px;
}
.cs{
    background: #FFF4A3;
    height: 146px;
    margin-top: 143px;
    margin-left: 8vw;
    width: 42vw;
    border-radius: 10px;
    color: black;
    text-align: center;
    margin-bottom: 11px;
}
.extras{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 81vh;
    gap: 87px;
    margin-left: 64px;
    margin-right: 44px;
    margin-top: 70px;
}
.extras div{
    height: 72px;
    text-align: center;
    padding-top: 47px;
    color: black;
    background: #96D4D4;
    font-size: larger;
    font-weight: 700;
    border-radius: 13px;
}
.diff{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    margin-left: 67px;
    margin-right: 40px;
    margin-top: 67px;
}
.diff div{

    background: wheat;
    color: black;
    height: 71px;
    text-align: center;
    padding-top: 36px;
    border-radius: 13px;
    font-weight: 600;
    font-size: 26px;
    margin-bottom: -22px;

}
.codeEditor
{
    margin-top: 40px;
}
.codeEditor .desc{
    
    padding-left: 731px;
}
.codeEditor img{
    padding-top: 50px;
    height: 361px;
    width: 927px;
    margin-left: 45vh;
}
.codeEditor button{
    background-color: #04AA6D;
    color: white;
    margin-left: 339px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    height: 35px;
}
.spaces{
    background-color: #282A35;
    opacity: 0.96;
    margin: auto;
    padding: 85px 20px;
    
    
}
.image{
    background: #282A35 url(./priscilla-du-preez-XkKCui44iM0-unsplash.921aa0c0.jpg) no-repeat fixed center;
    margin-top: 68px;
    text-align: center;
}
.image button{
    background-color: #04AA6D;
    border: none;
    margin-top: 32px;
    color: white;
    width: 197px;
    height: 41px;
    font-weight: 600;
    border-radius: 22px;
}
.colorPicker{
    background-color: white;
    color: black;
    text-align: center;
    height: 65vh;
}
.games img{
    object-fit: cover;
    width: 100%;
}
.image2{
    background: url(./w3codes.png) no-repeat fixed center;
    background-size: 95rem 64rem;
    width: 100%;
    margin-top: -5px;
    text-align: center;
}
.enq{
    opacity: 0.96;
    margin: auto;
    padding: 85px 20px;
}
.btns{
    display: flex;
    height: 84px;
    height: 132px;
    margin-left: 382px;
    margin-top: 50px;
}
.btns button{
    width: 350px;
    margin-right: 33px;
    border: none;
    border-radius: 7px;
    font-size: 23px;
}
.templates{
    background-color: #38444d;
    width: 100%;
    height: 100vh;
    margin-top: -22px;
    text-align: center;
}